.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    animation-name: glide;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes glide {
    0% {
      left: 0;
    }
    100% {
      left: 200px;
    }
  }
  